#Redirects for subdomains
RewriteEngine on 

# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working


Options -Indexes

ErrorDocument 400 /error/400.html


ErrorDocument 401 /error/401.html


ErrorDocument 403 /error/403.html


ErrorDocument 500 /error/500.html


ErrorDocument 404 /404.html

# This allows you to redirect index.html to a specific subfolder
Redirect /index.html /collegeinsider/

